/// BUTTON
/// A rectangular clickable element.
///
/// Buttons are, by default, simple elements, but they can become pretty
/// complex as they are packed with information in the game's UI.
@use '../colors';
@use '../common';

@use 'progress';

$padding: 0.375rem;
$padding-no-img: 0.625rem;
$image-size: 1.6875rem;

.ed-button {
    $block: &;

    @include common.box;
    @include common.stripped-text;

    display: grid;
    grid-template-columns: $padding-no-img 1fr;
    grid-template-rows: common.$std-button-height;
    grid-template-areas: "icon body";
    align-content: center;
    align-items: center;

    height: common.$std-button-height;
    overflow: clip;
    border: 0;
    padding: 0;

    background-color: colors.$lightback;

    cursor: pointer;

    // ELEMENTS
    // Holds the button's body elements.
    &__inner {
        @include common.box;

        grid-area: body;

        display: grid;
        grid-template-columns: 1fr minmax(common.$main-font-size, auto);
        grid-template-areas: "main side" "sub sub";
        column-gap: $padding;
        align-content: center;
        align-items: center;

        height: 100%;
        padding: $padding;
    }

    // The button's most prominent content.
    &__main {
        @include common.box;
        @include common.stripped-text;

        grid-area: main;
        display: flex;
        align-items: center;

        height: common.$main-font-size;

        font-size: common.$main-font-size;
        font-family: "Euro Caps";
        color: colors.$highlight;
        text-align: left;
    }

    // The button's secondary content, placed underneath the main content.
    &__sub {
        @include common.box;

        grid-area: sub;
        display: flex;
        align-items: center;

        font-size: common.$sub-font-size;
        font-family: "Sintony";
        color: colors.$lowlight;
        text-align: left;
    }

    // The button's rightmost content inline with the main content. It can be
    // text or an icon.
    &__side {
        @include common.box;
        @include common.stripped-text;

        grid-area: side;

        height: 100%;

        font-size: common.$main-font-size;
        font-family: "Euro Caps";
        color: colors.$highlight;
        text-align: right;
    }

    // Holds the button's accompanying visual decoration.
    &__head {
        @include common.box;

        grid-area: icon;

        display: flex;
        align-items: center;

        padding: (common.$std-button-height - $image-size) / 2;
        height: common.$std-button-height;
        color: colors.$highlight;
        background-color: colors.$darkback;
    }

    // Mix element to style a decorative icon.
    &__icon {
    }

    // Mix element to style a progress in the content.
    &__progress {
        margin: common.$sub-font-size - 0.5rem 0;
    }

    // STATES
    &:hover {
        background-color: colors.$highlight;
        color: colors.$darkback;

        #{$block}__head {
            background-color: colors.$highlight;
        }

        #{$block}__icon {
            background-color: colors.$darkback;
        }

        #{$block}__main {
            color: colors.$darkback;
        }

        #{$block}__sub {
            color: colors.$darkback;
        }

        #{$block}__side {
            color: colors.$darkback;
        }

        #{$block}__progress {
            @include progress.progress-bar(colors.$blue, colors.$darkback);
        }
    }

    &:active {
        background-color: colors.$white;
        color: colors.$darkback;

        #{$block}__head {
            background-color: colors.$white;
        }

        #{$block}__icon {
            background-color: colors.$darkback;
        }

        #{$block}__main {
            color: colors.$darkback;
        }

        #{$block}__sub {
            color: colors.$darkback;
        }

        #{$block}__side {
            color: colors.$darkback;
        }

        #{$block}__progress {
            @include progress.progress-bar(colors.$blue, colors.$darkback);
        }
    }

    // MODIFIERS
    // Modifies the button so it can support a square-sized decoration head.
    &--has-head {
        grid-template-columns: common.$std-button-height 1fr;

        &:hover,
        &:active {
            #{$block}__inner {
                border-left: 0.125rem solid colors.$darkback;
                padding-left: $padding - 0.125rem;
            }
        }
    }

    // Modifies the button so it visually shows as unable to be clicked.
    &--is-disabled {
        background-color: colors.$darkdisabled;
        color: colors.$disabled;

        #{$block}__head {
            background-color: colors.$darkdisabled;
        }

        #{$block}__icon {
            background-color: colors.$disabled;
        }

        #{$block}__main {
            color: colors.$disabled;
        }

        #{$block}__sub {
            color: colors.$disabled;
        }

        #{$block}__side {
            color: colors.$disabled;
        }

        #{$block}__progress {
            @include progress.progress-bar(
                colors.$mediumdisabled,
                colors.$disabled
            );
        }

        &:hover,
        &:active {
            background-color: colors.$disabled;
            color: colors.$darkdisabled;

            #{$block}__inner {
                border-left: 0.125rem solid colors.$darkdisabled;
                padding-left: $padding - 0.125rem;
            }

            #{$block}__head {
                background-color: colors.$disabled;
            }

            #{$block}__icon {
                background-color: colors.$darkdisabled;
            }

            #{$block}__main {
                color: colors.$darkdisabled;
            }

            #{$block}__sub {
                color: colors.$darkdisabled;
            }

            #{$block}__side {
                color: colors.$darkdisabled;
            }

            #{$block}__progress {
                @include progress.progress-bar(
                    colors.$darkdisabled,
                    colors.$darkdisabled
                );
            }
        }
    }

    // Modifies the button so it is stacked instead.
    &--is-stacked {
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 3rem;
        grid-template-areas: "icon" "body";

        height: auto;

        #{$block}__inner {
            grid-template-columns: 1fr;
            grid-template-areas: "main" "sub";
        }

        #{$block}__main {
            justify-content: center;
        }

        #{$block}__sub {
            justify-content: center;
        }

        #{$block}__head {
            background-color: transparent;

            height: 4rem;
            padding: 1rem;
            padding-bottom: 0.375rem;
        }

        &:hover,
        &:active {
            #{$block}__inner {
                border-left: 0;
                padding-left: $padding;
            }
        }
    }
}
