@use '../common';
@use '../colors';

@mixin mask($svg: string) {
    -webkit-mask-image: url("data:image/svg+xml;utf8,#{$svg}");
    mask-image: url("data:image/svg+xml;utf8,#{$svg}");
}

.ed-icon {
    @include common.box;

    height: 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;

    background-color: colors.$highlight;

    &--is-disabled {
        background-color: colors.$disabled;
    }
}
