body {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    column-gap: 2rem;
    grid-auto-flow: column;

    position: relative;
    margin: 1rem;

    background-color: #080604;

    font-family: "Sintony";
    color: #f07b05;
}

.doc-h1,
.doc-h2,
.doc-h3 {
    font-family: "Euro Caps";
    color: #eeeeee;
}

.doc-ul {
    list-style-type: "+ ";
    padding: 0 1rem;
    margin: 0;
}

.doc-ul li {
    margin-bottom: 0.25rem;
}

.doc-p {
    margin: 0;
    margin-bottom: 1rem;

    line-height: 1.5;
}

.doc-a {
    color: #eeeeee;
}

pre[class*="language-"] {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 0;

    background-color: transparent;

    font-size: 0.85rem;
    overflow: unset;
}

.doc-section {
    margin-bottom: 2.5rem;
}

.doc-title {
    margin-top: 0;
}

.doc-example {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    column-gap: 1.5rem;
    align-items: flex-start;

    position: relative;
    padding: 0.5rem 0;
    border-top: 2px solid #f07b05;
    border-bottom: 2px solid #f07b05;

    background: linear-gradient(to left, transparent, #ffffff05, transparent);
}

.doc-example::before {
    content: "Example";
    position: absolute;
    top: -0.75rem;
    right: 0;
    padding: 0.125rem 0.5rem;

    background-color: #f07b05;

    color: #080604;
    font-size: 0.875rem;
}

.doc-class-name {
    display: inline-block;

    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    color: #e6db74;
}

.doc-attr-name {
    display: inline-block;

    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    color: #a6e22e;
}

.doc-tag-name {
    display: inline-block;

    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    color: #f92672;
}

.doc-list-header {
    margin: 1rem 0;

    font-family: "Euro Caps";
    font-size: 1.5rem;
    line-height: 1;
}

.doc-icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    justify-items: center;
    align-items: flex-start;
}

.doc-icon-item {
    text-align: center;
}

.doc-icon-item .ed-icon {
    height: 50px;
}

.doc-icon-item p {
    margin: 0;
}
