@use 'sass:color';

$black: #060606;
$white: #dddddd;
$blue: #00b3f7;

$section: #080604;
$darkback: #170b03;
$lightback: #241103;
$lowlight: #63300a;
$highlight: #ff7100;
$highlight-faded: color.adjust($highlight, $alpha: -0.7);

$disabled: #980000;
$mediumdisabled: color.adjust($disabled, $blackness: 50%);
$darkdisabled: #140703;
