@use 'colors';

$std-button-height: 3.2rem;
$main-font-size: 1.375rem;
$sub-font-size: 1rem;

/// Boxify an element so it behaves like a block element.
@mixin box {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

/// Strip the text from its default decorations.
@mixin stripped-text {
    text-decoration: none;
    font-style: normal;
    line-height: 1;
}
